<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Static files in the build directory -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{DOCUMENT_ROOT}/build/{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="build/{R:1}" />
        </rule>

        <!-- All API calls go to our Node.js app -->
        <rule name="API" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="server/index.js" />
        </rule>

        <!-- All other URLs are mapped to the React SPA entry point -->
        <rule name="SPA" stopProcessing="true">
          <match url="^(?!api)(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="build/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- Don't interfere with requests for logs -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Enable detailed errors for debugging -->
    <httpErrors existingResponse="PassThrough" />
    
    <iisnode
      nodeProcessCommandLine="node.exe"
      watchedFiles="*.js;iisnode.yml;node_modules\*"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>