<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- First, we check if the request is for an API endpoint -->
        <rule name="API" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <!-- Next, check for static files in the build folder -->
        <rule name="StaticContent">
          <match url=".*" />
          <action type="Rewrite" url="build/{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{DOCUMENT_ROOT}\build\{REQUEST_URI}" matchType="IsFile" />
          </conditions>
        </rule>
        
        <!-- Finally, all other requests go to the React app -->
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="build/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <httpErrors existingResponse="PassThrough" />
    
    <iisnode
      nodeProcessCommandLine="node.exe"
      watchedFiles="*.js"
      loggingEnabled="true"
      debuggingEnabled="true"
    />
  </system.webServer>
</configuration>